/* style first section */

.head-container{
    display: flex;
    size:100vh;
    gap: 50px;
    justify-content:space-around;
    align-items: center;
    padding-left:150px;
    background-color: rgba(229, 84, 115, 0.10);
}
.front-pic{
    width:475px;
    margin-top:50px;   
    margin-right: 150px;
}
.primary-button{
    padding:15px 35px;
    border-radius: 8px;
    background-color: #E55473;
    color:white;
    border:none;
    margin-top: 20px;
}
.title-text{
    font-size: 60px;
    margin-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.paragraph{

    color:rgb(129, 124, 124);
    margin-top:20px;
}
/* end first section */
/* start second section */
.second-container{
    height: 100vh;


}  

.featured{
    font-size:35px;
    margin-bottom: 0;
    text-align: center;


    
}

.text-fill{
    margin-top: 100px;
}

.second-para{

    font-size: 16px;
    text-align: center; 
    margin-top: 15px;
    color:rgb(134, 125, 125);



}

.layer-image{
display: flex;
justify-content: space-around;
}

.first-image{
    height: 600px;
    width:460px;
    border:1px solid black;
    text-align: center;
    background-color: #efd6e2;





}
.pic-1{

    margin-top: 20px;
    padding-top: 50px;
    margin-bottom: 0;
    
}
.second-image{
    height: 600px;
    width:460px;
    border:1px solid black;
    text-align: center;
    
}
.pic-2{

    margin-top: 65px;
    padding-top: 50px;
    margin-bottom: 0;
    
}
.third-image{
    height: 600px;
    width:460px;
    border:1px solid black;
    text-align: center;

}
.pic-3{

    margin-top: 20px;
    padding-top: 50px;
    margin-bottom: 0;
    
}

