/* style first section */

.head-container{
    display: flex;
    size:100vh;
    gap: 50px;
    justify-content:space-around;
    align-items: center;
    padding-left:150px;
    background-color: rgba(229, 84, 115, 0.10);
}
.front-pic{
    width:475px;
    margin-top:50px;   
    margin-right: 150px;
}
.primary-button{
    padding:15px 35px;
    border-radius: 8px;
    background-color: #E55473;
    color:white;
    border:none;
    margin-top: 20px;
}
.title-text{
    font-size: 60px;
    margin-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.paragraph{

    color:rgb(129, 124, 124);
    margin-top:20px;
}
/* end first section */
/* start second section */
.second-container{
    height: 100vh;


}  

.featured{
    font-size:35px;
    margin-bottom: 0;
    text-align: center;


    
}

.text-fill{
    margin-top: 100px;
}

.second-para{

    font-size: 16px;
    text-align: center; 
    margin-top: 15px;
    color:rgb(134, 125, 125);



}

.layer-image{
display: flex;
justify-content: space-around;
}

.first-image{
    height: 600px;
    width:460px;
    border:1px solid black;
    text-align: center;
    background-color: #efd6e2;





}
.pic-1{

    margin-top: 20px;
    padding-top: 50px;
    margin-bottom: 5px;
    
}
.second-image{
    height: 600px;
    width:460px;
    border:1px solid black;
    text-align: center;
    
}
.pic-2{

    margin-top: 65px;
    padding-top: 50px;
    margin-bottom: 5px;
    
}
.third-image{
    height: 600px;
    width:460px;
    border:1px solid black;
    text-align: center;

}
.pic-3{

    margin-top: 20px;
    padding-top: 50px;
    margin-bottom: 5px;
    
}

.banner{
    display: flex;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    padding-left:150px;
    padding-top: 50px;
    background-color: rgba(229, 84, 115, 0.10);
}
h3{
    font-size: 35px;

}
.hot{
    margin-bottom: 0;
}
.off{
    color:#E55473;
}
.third-para{
    color:rgb(138, 135, 135);
    text-align: center;
}
.button-sign{
    margin-left: 165px;
    padding:15px 35px;
    border-radius: 8px;
    background-color: #E55473;
    color:white;
    border:none;
    margin-top: 20px;
    margin-top: 0;

}

.banner-image{
    border:10px #E55473;
}
/* third section end */
.text-insta{
    text-align: center;
}
.fourth-para{
    text-align: center;
}

.instagram-images{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:10px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 80px;
    padding-right: 80PX;
}
/* <!-- Fourth section end --> */
/* <!-- fifth section start --> */
h2{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    
}
.get{
    margin-top: 80px ;
}

p{
    text-align: center;
}
.para-fifth{
    text-align: center;
  
  .email{
    align-items: center;
  }  

}
.user-info{
    background-image: url('./flower-asset/back-1.png');
    align-items: center;
}
.last-button{
    padding:15px 35px;
    border-radius: 8px;
    background-color: #E55473;
    color:white;
    border:none;
    margin-top: 20px;
    margin-left: 800px;

}
